@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
}
#navbar{
    background-image: url('file:///home/wecode/Documents/moringa-school-projects/Kidington-online-shop/images/back.jpg');
}
.products{
    background-image: url('file:///home/wecode/Documents/moringa-school-projects/Kidington-online-shop/images/baby3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-bottom: 4%;
    margin-top: 1%;
    /* opacity: 0.60; */
}
.baby{
    text-align: center;
}
.nav{
    /* float: right; */
    font-size: 20px;
}
img{
    box-shadow: 0 4px 8px 0 rgb(250, 246, 246);
}
img:hover{
    box-shadow: 5px 0 8px 0 rgb(202, 168, 168);
}