.homeBack{
    background-image:url("../images/bac.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15%;
    padding-top: 40px;
    padding-bottom:100px;
    opacity: .8;
    /* height: 800px; */
 }
 img{
     width: 60%;
    margin-left: 20%;
 }
 #top{
     float: left;
 }
 .carousel-control-prev-icon{
     margin-left: 40%;
     width: 60%;
 }