/* @media only screen and (max-width: 768px) {
    .car-body{
        width: 100%;
    }
  } */
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
body{
    /* color: 0 solid black;
     box-shadow: 5px 10px 5px; */
    font-family: 'PT Sans', sans-serif;
    /* background-color: burlywood; */
    /* font-weight: bold; */
}
.nav{
    margin-top: 2%;
    margin-bottom: 2%;
}
.girly{
    text-align: center;
    color: black;
    margin-bottom: 5%;
    margin-top: 3%;
}
.products{
    position: fixed;
    margin-top: -2%;
    margin-left: 15%;
    
}
.homeBack{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 27%;
    opacity: .8;
}
/* .p{
    background-color: slategrey;
} */